<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PersonaSrv</servlet-name>
        <servlet-class>controlador.PersonaSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaDiscapacidadSrv</servlet-name>
        <servlet-class>controlador.CategoriaDiscapacidadSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscapacidadSrv</servlet-name>
        <servlet-class>controlador.DiscapacidadSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CiudadSrv</servlet-name>
        <servlet-class>controlador.CiudadSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisSrv</servlet-name>
        <servlet-class>controlador.PaisSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaRecursoSrv</servlet-name>
        <servlet-class>controlador.CategoriaRecursoSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConceptoSrv</servlet-name>
        <servlet-class>controlador.ConceptoSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LugarSrv</servlet-name>
        <servlet-class>controlador.LugarSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecursoSrv</servlet-name>
        <servlet-class>controlador.RecursoSrv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rutas</servlet-name>
        <servlet-class>controlador.Rutas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporteSrv</servlet-name>
        <servlet-class>controlador.reporteSrv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaSrv</servlet-name>
        <url-pattern>/PersonaSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaDiscapacidadSrv</servlet-name>
        <url-pattern>/CategoriaDiscapacidadSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscapacidadSrv</servlet-name>
        <url-pattern>/DiscapacidadSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CiudadSrv</servlet-name>
        <url-pattern>/CiudadSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisSrv</servlet-name>
        <url-pattern>/PaisSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaRecursoSrv</servlet-name>
        <url-pattern>/CategoriaRecursoSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConceptoSrv</servlet-name>
        <url-pattern>/ConceptoSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LugarSrv</servlet-name>
        <url-pattern>/LugarSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecursoSrv</servlet-name>
        <url-pattern>/RecursoSrv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rutas</servlet-name>
        <url-pattern>/Rutas</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>dirUploadFiles</param-name>
        <param-value>/archivos</param-value>
    </context-param>
    <context-param>
        <param-name>maxFilesSize</param-name>
        <param-value>307200</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>reporteSrv</servlet-name>
        <url-pattern>/reporteSrv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>index2.jsp</welcome-file>-->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
