.manino:hover
{
    cursor: pointer;
}

body.dark-theme  .degradado{

    width: 100%;
    height: auto;
    background: rgb(11,48,73);
    background: linear-gradient(180deg, rgba(11,48,73,1) 0%, rgba(66,125,164,1) 68%, rgba(65,122,159,1) 100%);
}



body .encabezado
{

    color: white;
}

body.dark-theme {
    background: rgb(47, 47, 47);
    color: #f8f9fa;
}

body.dark-theme .modaConfiguraciones
{
    background: #2F2F2F;
    border:1px solid white !important;;
}
.modaConfiguraciones
{  border:1px solid #0B3049 !important;
}
body.dark-theme .degradado 
{
    background: #2F2F2F !important;
}
body.dark-theme .degradado_2
{
    background: #2F2F2F !important;
}
body.dark-theme  .degradado_3
{
    background: #2F2F2F !important;
}
body.dark-theme .infoCar{
      background: #1c1c1c !important;
      color: white !important;
}
body.dark-theme  .color_base
{
     background: #2F2F2F !important;
}
body.dark-theme .menuRecurso 
{
    background: #555555 !important; 
}
.modoOscuro
{
    background: rgb(47, 47, 47); width: 130px; height: 130px; border-radius: 10px;border: 1px solid #CFCFCF;
}

/*body.dark-theme .modoOscuro
{
-webkit-box-shadow: 0px -1px 20px -1px rgba(218,224,54,1);
-moz-box-shadow: 0px -1px 20px -1px rgba(218,224,54,1);
box-shadow: 0px -1px 20px -1px rgba(218,224,54,1);
}*/
