
.morado{
    background:#9A5BCE !important;
}
.amarillo{
    background:#FFDF78 !important;
}
.rosado{
    background:#E26591 !important;
}
.verde{
    background:#57CBAE !important;
}
.naranja{
    background:#EBB575 !important;
}
.color_base{
    background:#0B3049 !important;
}
.opacidad{
    filter: brightness(150%);
}

body
{
    overflow-x: hidden;
}
.contenedor_iconos
{

    width: 100px;
    height: 100px;

}
.gris_claro
{
    background: #E7E7E7;
    -webkit-box-shadow: -1px 0px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 18px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 18px -5px rgba(0,0,0,0.75);
}
.contenedor_inf
{
    height: auto; background: #CFCFCF;
    -webkit-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 18px 0px rgba(0,0,0,0.75);
}
.centrar{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.boton_blanco
{
    color: white !important; 
    border-color: white;
    border-bottom-width: 5px;
    border-bottom-color: white;
    font-size: 13px;    
    font-weight: bold; 
}
.boton_blanco:hover
{
    transform: scale(1.2);
    border-color: #ED942D;
    color: #002752 !important;
    font-weight: bold;    
    border-color: white;
    border-bottom-color: white;
    background: #ED942D;
}
.boton_naranja{

    border-color: #ED942D;
    color: #002752 !important;
    font-weight: bold;    
    border-color: white;
    border-bottom-width: 5px;
    border-bottom-color: white;
    background: #ED942D;
    /*border-radius: 20px;*/
    font-size: 13px;
}
.boton_naranja:hover
{
    transform: scale(1.2);
}
.erre
{
    font-size: 25px; 
    color: #ED942D;
    font-family: 'Pacifico', cursive;    
}
.complemento
{
    font-size: 20px; 
    font-family: 'Pacifico', cursive;
}
.texto_titulos
{  
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 2px #0B3049;
    color: #0B3049;
}
.boton_ir
{
    border-radius: 20px;
    color:  #1d3047 !important; 
    border-color: #0B3049;
    border-bottom-width: 5px;    
    font-size: 13px;    
    font-weight: bold;
}
.boton_ir:hover
{
    transform: scale(1.2);
}

.img_buscador
{
    width: 100%;
    z-index: 1;
}
.txt-buscador{
    border: 2px solid!important;
    border-color: #ED942D !important;    
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;    
    height: 50px;
    width: 800px;
}
.letra
{
    color: white;  
    -webkit-text-stroke: 1px #fff;
}
.sub-letras
{color: white}
.btn-naranja
{

    background: #ED942D;
    font-weight: bold;
    border-radius: 5px;
}
 
.caja_login
{
    border: 1px solid #fff; 
    position: absolute;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;


}
.logo_imgw
{

}
.hearder_login
{
    height: 200px;
    background:#0B3049; 
}
.blanco
{
    color: #fff !important;
}
.grosor
{
    -webkit-text-stroke: 1px #fff;   
}
.fondo
{
    background:#0B3049; 
}
.barra_colores{
    height: 10px;
    background: rgb(235,181,117);
    background: linear-gradient(90deg, rgba(235,181,117,1) 0%, rgba(226,101,145,1) 24%, rgba(255,223,120,1) 50%, rgba(87,203,174,1) 70%, rgba(154,91,206,1) 100%); 
}
.card_recursos:hover
{
    cursor:pointer  ;
    transform: scale(1.1,1.1);
    z-index: 2;
    transition:  1s ;
}
.login_color {
    width: 100%;
    color: #fff ;
    background: #0B3049;
    border: 5px solid #fff;
    border-radius: 10px; 

}
.login_color:hover
{
    border-radius: 10px; 
    border-bottom: 5px solid #E26591;
    border-left: 5px solid #FFDF78;
    border-top: 5px solid #57CBAE;
    border-right: 5px solid #9A5BCE;
    color: #fff ;  
}
.login_color:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.botones
{
    color: #fff !important;
    border: 2px solid #0B3049 ;
    /*border-right: 5px solid white !important;*/
}
.botones:hover
{

    border-radius: 10px; 
    border-bottom: 2px solid #E26591;
    border-left: 2px solid #FFDF78;
    border-top: 2px solid #57CBAE;
    border-right: 2px solid #9A5BCE;
    color: #fff ;
}
